<a href="https://colab.research.google.com/github/rajdas2001/NLP-Workbook/blob/main/1_Regex.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#https://regex101.com/

In [1]:
import re

chat1 = "My phone number is 8937216573"
pattern = "\d{10}"
matches = re.findall(pattern,chat1)
print(matches)

['8937216573']

In [2]:
chat2 = "My phone number is (123)-788-9678"
pattern = "\(\d{3}\)-\d{3}-\d{4}"
matches = re.findall(pattern,chat2)
print(matches)

['(123)-788-9678']

In [3]:
chat3 = "My phone number is 1000000000 and my wife's phone number is (123)-456-7890"
pattern = "\d{10} | \(\d{3}\)-\d{3}-\d{4}"
matches = re.findall(pattern,chat3)
print(matches)

['1000000000 ', ' (123)-456-7890']

In [4]:
chat4 = "My email is raj.das@gmail.com"
pattern = "[a-z0-9A-Z_.]*@[a-zA-Z]*"
matches = re.findall(pattern,chat4)
print(matches)

['raj.das@gmail']

In [5]:
#group
chat5 = "My order number is 567223"
chat6 = "I have a problem with my order number 12256"
chat7 = "I have a problem with order #199029"
chat8 = "I have a problem with order 23556"
chat9 = "I have a problem with order23556"


pattern = "order[^\d]*(\d*)"
matches = re.findall(pattern,chat5)
print(matches)

matches = re.findall(pattern,chat6)
print(matches)

matches = re.findall(pattern,chat7)
print(matches)

matches = re.findall(pattern,chat8)
print(matches)

matches = re.findall(pattern,chat9)
print(matches)

['567223']
['12256']
['199029']
['23556']
['23556']

In [7]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship
South Africa (1971–present)
Canada (1971–present)
United States (2002–present)
Education	University of Pennsylvania (BS, BA)
Title
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)
Justine Wilson
​
​(m. 2000; div. 2008)​
Talulah Riley
​
​(m. 2010; div. 2012)​
​
​(m. 2013; div. 2016)
'''

In [17]:
print("Age:")
pattern = "Born.*\n(.*)\(age"
matches = re.findall(pattern,text)
print(matches)

Age:
['June 28, 1971 ']