<a href="https://colab.research.google.com/github/rajdas2001/NLP-Workbook/blob/main/2_SpaCy_(I).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import spacy

nlp = spacy.blank("en")

doc = nlp("Dr. Strange loves pav bhaji of mumbai as it costs only 2$ per plate.")

for token in doc:
    print(token)

Dr.
Strange
loves
pav
bhaji
of
mumbai
as
it
costs
only
2
$
per
plate
.

In [4]:
import spacy
from spacy.lang.en.examples import sentences

nlp = spacy.load("en_core_web_sm")

doc = nlp(sentences[0])

print("Doc is: " + str(doc))
print("\n")

print(doc.text)
for token in doc:
    print(token.text, token.pos_, token.dep_)

Doc is: Apple is looking at buying U.K. startup for $1 billion


Apple is looking at buying U.K. startup for $1 billion
Apple PROPN nsubj
is AUX aux
looking VERB ROOT
at ADP prep
buying VERB pcomp
U.K. PROPN dobj
startup NOUN dep
for ADP prep
$ SYM quantmod
1 NUM compound
billion NUM pobj

In [7]:
with open('students.txt') as f:
  text = f.readlines()
text

['Dayton high school, 8th grade students information\n',
 '==================================================\n',
 '\n',
 'Name\tbirth day   \temail\n',
 '-----\t------------\t------\n',
 'Virat   5 June, 1882    virat@kohli.com\n',
 'Maria\t12 April, 2001  maria@sharapova.com\n',
 'Serena  24 June, 1998   serena@williams.com \n',
 'Joe      1 May, 1997    joe@root.com\n',
 '\n',
 '\n',
 '\n']

In [8]:
text = ' '.join(text)
text

'Dayton high school, 8th grade students information\n ==================================================\n \n Name\tbirth day   \temail\n -----\t------------\t------\n Virat   5 June, 1882    virat@kohli.com\n Maria\t12 April, 2001  maria@sharapova.com\n Serena  24 June, 1998   serena@williams.com \n Joe      1 May, 1997    joe@root.com\n \n \n \n'

In [11]:
doc = nlp(text)
emails = []
for elements in doc:
  if elements.like_email:
    emails.append(elements.text)
emails

['virat@kohli.com',
 'maria@sharapova.com',
 'serena@williams.com',
 'joe@root.com']

In [14]:
doc = nlp("gimme a double cheese extra large chicken pizza")

tokens = [token.text for token in doc]
tokens

['gimme', 'a', 'double', 'cheese', 'extra', 'large', 'chicken', 'pizza']

In [16]:
from spacy.symbols import ORTH

nlp.tokenizer.add_special_case("gimme",[{ORTH:"gim"},{ORTH:"me"}]) #you can't change original word, only split it
doc = nlp("gimme a double cheese extra large chicken pizza")

tokens = [token.text for token in doc]
tokens

['gim', 'me', 'a', 'double', 'cheese', 'extra', 'large', 'chicken', 'pizza']

# Exercise

(1) Think stats is a free book to study statistics (https://greenteapress.com/thinkstats2/thinkstats2.pdf)

This book has references to many websites from where you can download free datasets. You are an NLP engineer working for some company and you want to collect all dataset websites from this book. To keep exercise simple you are given a paragraph from this book and you want to grab all urls from this paragraph using spacy

In [18]:
text='''
Look for data to help you address the question. Governments are good
sources because data from public research is often freely available. Good
places to start include http://www.data.gov/, and http://www.science.
gov/, and in the United Kingdom, http://data.gov.uk/.
Two of my favorite data sets are the General Social Survey at http://www3.norc.org/gss+website/,
and the European Social Survey at http://www.europeansocialsurvey.org/.
'''

In [19]:
text = nlp(text)

urls = []

for elements in text:
  if elements.like_url:
    urls.append(elements.text)
urls

['http://www.data.gov/',
 'http://www.science',
 'http://data.gov.uk/.',
 'http://www3.norc.org/gss+website/',
 'http://www.europeansocialsurvey.org/.']

(2) Extract all money transaction from below sentence along with currency. Output should be,

two $

500 €

In [39]:
transactions = "Tony gave two $ to Peter, Bruce gave 500 € to Steve"
# TODO: Write code here
# Hint: Use token.i for the index of a token and token.is_currency for currency symbol detection

nlp = spacy.load("en_core_web_sm")
transactions = nlp(transactions)
for i in range(len(transactions)):
  if transactions[i].is_currency:
    print(transactions[i-1].text, transactions[i].text)

two $
500 €